<link rel="stylesheet" href="../../public/styles/font-awesome.min.css">
<button class="hackyTrick"></button>
<div class="titleAndLists">
<h3 class="movieTitle"><%= movieInfo.title %> </h3>
<div class="listsThings">
<ul>
    <li id="addToList"> <button class="addToListBtn">Add to a list</button> 
        
<ul class="userListsContainer">
    <% lists.forEach((list) => { %>
        <li class="userLists">    
            <form action="/movie/addToList/<%= list.id %>" method="post">
                <input class="movieId" name="imdbID" type="text" value="<%= movieInfo.id %>" >
                <button class="listBtn" type="submit"><%= list.name %></button>
            </form>
            
        </li>
    <% }) %>
</ul>
</li>
</ul>
</div>
</div>


<h4 name="movieGenre"><%= movieInfo.genres %> </h4>
<img name="MovieImg" src= <%= movieInfo.image %>   width='250' alt="movieCover">
<h5 name="movieStudio">Studio: <%= movieInfo.companies %></h5>
<h5 class="movieDirector">Director: <%= movieInfo.directors %></h5>
<h5>Writers: <%= movieInfo.writers %></h5>
<h5>Cast: <%= movieInfo.stars %></h5>
<h5>Synopsis: </h5>
<p ><%= movieInfo.plot %></p>
<div>
    <h2>Rating</h2>

    <input type="radio" id="st1" value="1" class="starInput" />
    <label for="st1" class="starLabel"></label>
    <input type="radio" id="st2" value="2" class="starInput" />
    <label for="st2" class="starLabel"></label>
    <input type="radio" id="st3" value="3" class="starInput" />
    <label for="st3" class="starLabel"></label>
    <input type="radio" id="st4" value="4" class="starInput" />
    <label for="st4" class="starLabel"></label>
    <input type="radio" id="st5" value="5" class="starInput" />
    <label for="st5" class="starLabel"></label>
    
    <% if (reviews) { %>
        <h3>Reviews</h3>
    <div>
        <% reviews.forEach((review) => { %>
        <div class="reviewContainer">    
            <span><%= review.author %></span> <br>
            <span><%= review.review %> </span> <br>
            <span>Posted at: <%= review.dateCreated %> </span>
        </div>
    <% }) %>
    </div>
    <% } %>

    <div>
        <h3>Add a review</h3>
        <form action="/movie/details/<%= movieInfo.id %>" method="post">
            <textarea name="reviewBody" id="" cols="80" rows="6"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<h3>Similar movies</h3>
<div class="similarMovieContainer">
<% movieInfo.similars.forEach((similar) => { %>
    <div class="singleSimilarMovieContainer">    
        <a class="similarMovieLink" href="/movie/details/<%= similar.id %> "><h4><%= similar.title %> </h4></a>
        <img class="similarMovieImg" src= <%= similar.image %>  width='100' alt="movieCover">
    </div>
<% }) %>
</div>

<script>
    const movieId = document.querySelectorAll('.movieId')
    movieId.forEach((e) => {
        e.style.display = 'none'
    })
</script>
</div>

<link rel="stylesheet" href="/styles/details.css">