

<h3><%= movieInfo.title %> </h3>
<h4><%= movieInfo.genres %> </h4>
<img src= <%= movieInfo.image %>   width='250' alt="movieCover">
<h5>Studio: <%= movieInfo.companies %></h5>
<h5>Director: <%= movieInfo.directors %></h5>
<h5>Writers: <%= movieInfo.writers %></h5>
<h5>Cast: <%= movieInfo.stars %></h5>
<h5>Synopsis: </h5>
<p ><%= movieInfo.plot %></p>