<link rel="stylesheet" href="../../public/styles/font-awesome.min.css">
<button class="hackyTrick"></button>
<div class="movieDetails">
<div class="titleAndLists">
<h3 class="movieTitle"><%= movieInfo.title %> </h3>
<div class="listsThings">
<ul>
    <li id="addToList"> <button class="addToListBtn">Add to a list </button> 
        
<ul class="userListsContainer">
    <% lists.forEach((list) => { %>
        <li class="userLists">    
            <form action="/movie/addToList/<%= list.id %>" method="post">
                <input class="movieId" name="imdbID" type="text" value="<%= movieInfo.id %>" >
                <button class="listBtn" type="submit"><%= list.name %></button>
            </form>
            
        </li>
    <% }) %>
</ul>
</li>
</ul>
</div>
</div>

<div class="movieInfo">
<h4 class="movieGenre"><%= movieInfo.genres %></h4>
<img class="movieImg" src= <%= movieInfo.image %>   width='250' alt="movieCover">
<h5 class="detailTitle"><b>Studio:</b></h5><p class="info"> <%= movieInfo.companies %></p>
<h5 class="detailTitle">Director:</h5><p class="info"> <%= movieInfo.directors %></p>
<h5 class="detailTitle"><b>Writers:</b></h5><p class="info"> <%= movieInfo.writers %></p>
<h5 class="detailTitle"><b>Cast:</b></h5><p class="info"> <%= movieInfo.stars %></p>
</div>
<div class="synopsisContainer">
<h5 class="movieSynopsis"><b>Synopsis</b> </h5>
<p class="synopsisBody"><%= movieInfo.plot %></p>
</div>
<div>
    <!-- <h2>Rating</h2>

    <input type="radio" id="st1" value="1" class="starInput" />
    <label for="st1" class="starLabel"></label>
    <input type="radio" id="st2" value="2" class="starInput" />
    <label for="st2" class="starLabel"></label>
    <input type="radio" id="st3" value="3" class="starInput" />
    <label for="st3" class="starLabel"></label>
    <input type="radio" id="st4" value="4" class="starInput" />
    <label for="st4" class="starLabel"></label>
    <input type="radio" id="st5" value="5" class="starInput" />
    <label for="st5" class="starLabel"></label>  -->
    

   
    
    <% if (reviews.length > 0) { %>
        <h3 class="reviewTitle">Reviews</h3>   
    <div class="reviewsContainer">
        <% reviews.forEach((review) => { %>
        <div class="singleReviewContainer">    
            <span class="author"><b><%= review.author %></b></span> <br>
            <span class="reviewBody"><%= review.review %> </span> <br>
            <span class="date">Posted at: <%= review.dateCreated %> </span>
            <hr class="separator">
        </div>
    <% }) %>
    </div>
    <% } else { %>
        <h3 class="reviewTitle">Reviews</h3>
        <span class="noReviewContainer"> There is no review yet, let us know what you think about this movie!</span>
        <% } %>
    <div>
       
        <h3 class="addReviewTitle">Add a review</h3>
        <div class="addReviewContainer">
        
        <form class="reviewForm" action="/movie/details/<%= movieInfo.id %>" method="post">
            <textarea class="textReview" name="reviewBody" id="" cols="80" rows="6"></textarea>
            <button class="reviewBtn" type="submit">Submit review</button>
        </form>
    </div>
    </div>
    </div>
</div>

<h3 class="similarMoviesTitle">Similar movies</h3>
<div class="similarMovieContainer">
<% movieInfo.similars.forEach((similar) => { %>
    <div class="singleSimilarMovieContainer">    
        <a class="similarMovieLink" href="/movie/details/<%= similar.id %> "><h4><%= similar.title %> </h4></a>
        <img class="similarMovieImg" src= <%= similar.image %>  width='100' alt="movieCover">
    </div>
<% }) %>
</div>

<script>
    const movieId = document.querySelectorAll('.movieId')
    movieId.forEach((e) => {
        e.style.display = 'none'
    })
</script>
</div>
</div>

<link rel="stylesheet" href="/styles/details.css">